<div class="main-container">
  <div class="sidebar">
    <left-navbar></left-navbar>
  </div>
  <div class="content-wrapper">
    <top-navbar></top-navbar>
    <div class="main-content small-gutter">
      <div class="row bg-title clearfix page-title">
        <div class="col-12 col-lg-3">
          <h4 class="page-title">Welcome!</h4>
        </div>
      </div>
      <app-tiles></app-tiles>
        <div class="row">
          <div class="col-12 col-lg-5 mb-2">
            <div class="h-100 bg-white p-5">
              <app-task></app-task>
            </div>
          </div>
          <div class="col-12 col-lg-7 mb-2">
            <div class="h-100 bg-white p-5">
              <app-graph></app-graph>
            </div>
          </div>
          <div class="col-12 col-lg-7 mb-2">
            <div class="h-100 bg-white p-5">
             <app-recent-sales></app-recent-sales>
            </div>
          </div>
          <div class="col-12 col-lg-5 mb-2">
            <div class="row h-100">
             <app-carousel></app-carousel>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
