<div class="main-container login-register">
  <div class="d-flex justify-content-center h-100vh w-100 align-items-center">
    <div class="login-container">
      <div class="form-container">
        <div class="text-center logo-container">
          <a routerLink="/home"><img src="/assets/img/logo.png" alt="Logo"></a>
        </div>
        <h4 class="text-center">XEN Account Login</h4>
        <div class="alert alert-info alert-raised">Use account <strong>admin@demo.com</strong> and password <strong>demo</strong> to continue.</div>
        <form [formGroup]="loginForm" class="material-form">
          <div class="form-group">
            <input type="email" class="form-control" formControlName="email">
            <label for="email">Email</label>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" formControlName="password">
            <label for="password">Password</label>
            <small class="help-block"><a routerLink="">Forgotten?</a></small>
          </div>
          <div class="form-check">
            <div class="custom-control custom-checkbox material-checkbox">
              <input type="checkbox" class="custom-control-input" id="rememberMe">
              <label class="custom-control-label" for="rememberMe">Remember me</label>
            </div>
          </div>
          <label class="error">{{errorMessage}}</label>
          <div class="form-group">
            <button type="submit" (click)="tryLogin(loginForm.value)" class="btn btn-theme ripple btn-raised btn-block btn-submit">
              <span>Log in</span>
            </button>
          </div>
          <div class="form-group mb-0">
            <div class="text-center form-bottom">
              <p>Don't have an account? <a href="/register" class="text-theme m-l-5"><b>Sign Up</b></a></p>
              <p class="text-center text-uppercase bold">or</p>
              <div>
                <button type="button" (click)="tryGoogleLogin()" class="btn btn-googleplus ripple btn-raised btn-block btn-submit" title="Google"> <i class="fa fa-google" aria-hidden="true"></i> Sign in With Google</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

