<div class="row tile-count">
  <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 tile-stats-count">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-6"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <h5 class="text-muted text-uppercase">New Products</h5>
      </div>
      <div class="col-md-6 col-sm-6 col-6">
        <h3 class="counter text-right m-t-15 text-info">168</h3>
      </div>
      <div class="col-12">
        <div class="progress progress-sm">
          <div class="progress-bar bg-info w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 tile-stats-count">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-6"><i class="fa fa-files-o" aria-hidden="true"></i>
        <h5 class="text-muted text-uppercase">New Categories</h5>
      </div>
      <div class="col-md-6 col-sm-6 col-6">
        <h3 class="counter text-right m-t-15 text-primary">123</h3>
      </div>
      <div class="col-12">
        <div class="progress progress-sm">
          <div class="progress-bar bg-primary w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 tile-stats-count">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-6"> <i class="fa fa-users" aria-hidden="true"></i>
        <h5 class="text-muted text-uppercase">New Customers</h5>
      </div>
      <div class="col-md-6 col-sm-6 col-6">
        <h3 class="counter text-right m-t-15 text-danger">34</h3>
      </div>
      <div class="col-12">
        <div class="progress progress-sm">
          <div class="progress-bar bg-danger w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 tile-stats-count">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-6"><i class="fa fa-shopping-bag" aria-hidden="true"></i>
        <h5 class="text-muted text-uppercase">All Products</h5>
      </div>
      <div class="col-md-6 col-sm-6 col-6">
        <h3 class="counter text-right m-t-15 text-success">570</h3>
      </div>
      <div class="col-12">
        <div class="progress progress-sm">
          <div class="progress-bar bg-success w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
</div>
