<div class="col-12 mb-2 carousel-wrapper">
  <div class="h-100 w-100 bg-primary p-5 d-flex align-items-center justify-content-center">
    <div id="dashboardCarousel1" class="carousel slide w-100 dashboard-carousel m-t-20" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#dashboardCarousel1" data-slide-to="0" class=""></li>
        <li data-target="#dashboardCarousel1" data-slide-to="1" class="active"></li>
        <li data-target="#dashboardCarousel1" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner h-100 w-100">
        <div class="carousel-item">
          <div class="text-left">
            <h4 class="mt-0">Share statistics</h4>
            <p class="m-0 hint-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, dolores facilis maiores minus itaque excepturi.</p>
          </div>
          <h2 class="m-t-20">
            <i class="fa fa-angle-down"></i>
            254,453
          </h2>
        </div>
        <div class="carousel-item active">
          <div class="text-left">
            <h4 class="mt-0">Total Sales</h4>
            <p class="m-0 hint-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, dolores facilis maiores minus itaque excepturi.</p>
          </div>
          <h2 class="m-t-20">
            <i class="fa fa-angle-down"></i>
            58,634
          </h2>
        </div>
        <div class="carousel-item">
          <div class="text-left">
            <h4 class="mt-0">Website Traffics</h4>
            <p class="m-0 hint-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, dolores facilis maiores minus itaque excepturi.</p>
          </div>
          <h2 class="m-t-20">
            <i class="fa fa-angle-up"></i>
            241,147
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12 carousel-wrapper">
  <div class="h-100 w-100 bg-info p-5 d-flex align-items-center justify-content-center">
    <div id="carouselExampleSlidesOnly2" class="carousel slide w-100" data-ride="carousel">
      <div class="carousel-inner h-100 w-100">
        <div class="carousel-item">
          <div class="text-left">
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, dolores facilis maiores minus itaque excepturi.</p>
          </div>
          <div class="m-t-40">
            <div class="float-left mr-3">
              <img src="./assets/img/avatar.png" alt="User Image" class="rounded-circle profile-img">
            </div>
            <div class="text-left">
              <h6 class="m-0 hint-text">
                Share Public Post - 20m ago
              </h6>
              <h4 class="m-0">Richard Cook</h4>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="text-left">
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, dolores facilis maiores minus itaque excepturi.</p>
          </div>
          <div class="m-t-40">
            <div class="float-left mr-3">
              <img src="./assets/img/avatar.png" alt="User Image" class="rounded-circle profile-img">
            </div>
            <div class="text-left">
              <h6 class="m-0 hint-text">
                Share Public Post - 2h ago
              </h6>
              <h4 class="m-0">Samuel Nelson</h4>
            </div>
          </div>
        </div>
        <div class="carousel-item active">
          <div class="text-left">
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, dolores facilis maiores minus itaque excepturi.</p>
          </div>
          <div class="m-t-40">
            <div class="float-left mr-3">
              <img src="./assets/img/avatar.png" alt="User Image" class="rounded-circle profile-img">
            </div>
            <div class="text-left">
              <h6 class="m-0 hint-text">
                Share Public Post - 3h ago
              </h6>
              <h4 class="m-0">Richard Sevian</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
