<h4 class="box-title mt-0">Recent sales</h4>
<div class="table-responsive">
  <table class="table mt-0 mb-0">
    <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Date</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Electronics</td>
      <td><span class="badge badge-pill badge-primary text-uppercase">SALE</span> </td>
      <td>January 18</td>
      <td><span class="text-primary">$32</span></td>
    </tr>
    <tr>
      <td>Books</td>
      <td><span class="badge badge-pill badge-info text-uppercase">EXTENDED</span></td>
      <td>May 19</td>
      <td><span class="text-info">$1400</span></td>
    </tr>
    <tr>
      <td>Crafts</td>
      <td><span class="badge badge-pill badge-danger text-uppercase">SALE</span></td>
      <td>June 20</td>
      <td><span class="text-danger">-$38</span></td>
    </tr>
    <tr>
      <td>Video games</td>
      <td><span class="badge badge-pill badge-success text-uppercase">EXTENDED</span></td>
      <td>June 22</td>
      <td><span class="text-success">$350</span></td>
    </tr>
    <tr>
      <td>Shoes</td>
      <td><span class="badge badge-pill badge-warning text-uppercase">EXTENDED</span></td>
      <td>July 22</td>
      <td><span class="text-warning">$64</span></td>
    </tr>
    </tbody>
  </table>
</div>
